node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.env.local
.nitro
.tanstack
.claude/
.cursor
.superdesign/
.worktrees/
.superpowers/
.cursor/
docs/
.vscode/
.agents/

#Ignore cursor AI rules
.cursor/rules/codacy.mdc
